html {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** Sections */
#app {
  color: #fff;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main {
  overflow: hidden;
}

#app-main {
  overflow: hidden;
}

#main-view {
  overflow: hidden;
}

#top-search {
  height: 60px !important;
}

#top-search input,
#top-search button {
  background: #121212;
  color: #fff;
}

#top-search input::placeholder {
  color: #555;
}

#menu-button {
  background: none !important;
}

#profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #999;
}

#sidebar {
  width: 225px;
  min-width: 225px;
}

#sidebar .nav-link {
  color: #bbb;
  font-size: 1.2rem;
}

#sidebar .nav-link:hover {
  color: #fff;
}

#sidebar h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

#sidebar h2 {
  font-weight: 800;
  color: #999;
  font-size: 1.2rem;
}

#view {
  overflow: hidden;
}

#view h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

#view h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

#view .hero {
  min-height: 200px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(100, 100, 100, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

#view .content {
  overflow: auto;
}

#player {
  height: 100px;
}

#playlist {
  width: 400px;
  min-width: 400px;
}

#app .content {
  margin: 6px;
  background: #121212;
  border-radius: 12px;
  height: 100%;
}

.placeholder {
  opacity: 0.1;
}

#home {}

#home h2 {
  font-weight: 800;
  color: #999;
}

#home #recently-added {
  overflow-x: auto;
  padding: 6px;
}

#home #recently-added .recent {
  margin-right: 10px;
  cursor: pointer;
  color: #bbb;
}

#home #recently-added .cover {
  border-radius: 12px;
  width: 80px;
  height: 80px;
}

#home #recently-added .info {
  font-size: 0.8rem;
  width: 85px;
}

#album .cover {
  border-radius: 12px;
  width: 170px;
  height: 170px;
}

#album .hero .album {
  font-size: 2.5rem;
  font-weight: 900;
}

#album .hero .artist {
  font-size: 1.8rem;
  color: #999;
}

#album #play {
  font-size: 4rem;
}

#album .btn {
  color: #999;
}

#album .btn:hover {
  color: lightgray;
}

#album #album-tracks .track {
  cursor: pointer;
}

#album #album-tracks .track:hover {
  background: #333;
}

#album #album-tracks .track-number {
  font-weight: 800;
  color: #999;
}

#album #album-tracks .title {
  font-size: 1.1rem;
}

#album #album-tracks .artist {
  font-size: 0.9rem;
  color: #999;
}

#album #album-tracks .playtime-string {
  color: #999;
}

#player #info {
  width: 250px;
  height: 100px;
}

#player #info .cover {
  border-radius: 12px;
  width: 80px;
  height: 80px;
}

#player #info .title {
  font-size: 1.1rem;
}

#player #info .artist {
  font-size: 0.9rem;
  color: #999;
}

#player #controls .btn {
  font-size: 2.5rem;
  color: #999;
}
#player #controls .btn:hover {
  color: #fff;
}
