html {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** Sections */
#app {
  color: #fff;
  background: #000;
}

#main {
  overflow: hidden;
}

#top-search input,
#top-search button {
  background: #121212;
  color: #fff;
}

#top-search input::placeholder {
  color: #555;
}

#menu-button {
  background: none !important;
}

#profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #999;
}

#sidebar {
  width: 200px;
  min-width: 200px;
}

#sidebar .nav-link {
  color: #bbb;
}

#sidebar .nav-link:hover {
  color: #fff;
}

#sidebar h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

#sidebar h2 {
  font-weight: 800;
  color: #999;
  font-size: 1.2rem;
}

#view {
  overflow: hidden;
}

#view h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

#view h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

#view .hero {
  min-height: 200px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(100, 100, 100, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

#player {
  height: 100px;
}

#playlist {
  width: 400px;
}

#app .content {
  margin: 6px;
  background: #121212;
  border-radius: 12px;
}

.placeholder {
  opacity: 0.1;
}

#home {
}

#home h2 {
  font-weight: 800;
  color: #999;
}

#home .placeholder {
  border-radius: 12px;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

#home .album {
  margin-right: 10px;
}

#home .album img {
  border-radius: 12px;
  width: 80px;
  height: 80px;
}

#home #recently-added {
  width: 100%;
  overflow-x: auto;
  padding: 6px;
}

#home #recently-added .album {
  font-size: 0.8rem;
  width: 85px;
}
